<h2 class="md-flex">Articles</h2>

<div infinite-scroll="ArticlesController.showMore()">
    <md-card ng-repeat="article in ArticlesController.allArticles"
            ui-sref="app.guest.articles.article({permalink: article.getIdentifier()})">
        <h2>{{article.title}}</h2>
        <md-card-content>
            {{article.excerpt}}
        </md-card-content>
    </md-card>
</div>


<md-button
        class="md-raised md-primary"
        ng-click="ArticlesController.infiniteScroll()"
        ng-if="!ArticlesController.allArticlesRetrieved && !ArticlesController.scrollToEnd"
        >Keep Loading
</md-button>

<p ng-if="ArticlesController.allArticlesRetrieved">No more articles!</p>