<md-dialog flex="50" id="localizableInputDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Translate</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="LocalizableInputDialogController.cancelDialog()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <p ng-bind-html="LocalizableInputDialogController.originalValue"></p>

        <md-tabs md-selected="LocalizableInputDialogController.selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
            <md-tab label="{{region.name}}"ng-repeat="region in LocalizableInputDialogController.regionService.supportedRegions">

                <md-input-container flex ng-switch="LocalizableInputDialogController.inputNodeName">
                    <textarea aria-label="Add localisation for {{region.name}}" ng-switch-when="textarea" ng-model="LocalizableInputDialogController.localizationMap[region.code]"></textarea>
                    <input aria-label="Add localisation for {{region.name}}" ng-switch-when="input" ng-model="LocalizableInputDialogController.localizationMap[region.code]">
                    <markdown-editor aria-label="Add localisation for {{region.name}}" ng-switch-when="markdown-editor" ng-model="LocalizableInputDialogController.localizationMap[region.code]"></markdown-editor>
                </md-input-container>

                <md-button ng-click="LocalizableInputDialogController.copyFromOriginal(region.code)">
                    <md-icon>content_copy</md-icon>
                </md-button>

            </md-tab>

        </md-tabs>

    </md-dialog-content>

    <div class="md-actions">
        <md-button ng-click="LocalizableInputDialogController.saveLocalizations()" class="md-primary">Save</md-button>
        <md-button ng-click="LocalizableInputDialogController.cancelDialog()" class="md-warn">Cancel</md-button>
    </div>
</md-dialog>