<div layout-padding>
    <h2>Author</h2>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
        <label>Author</label>
        <div layout="row" layout-padding>
            <ng-form name="MetaController.authorForm">
                <md-contact-chips
                        ng-model="MetaController.authors"
                        md-contacts="MetaController.searchUsers($query)"
                        md-contact-name="fullName"
                        md-contact-image="avatarImgUrl"
                        md-contact-email="email"
                        md-require-match="true"
                        md-highlight-flags="i"
                        filter-selected="true"
                        placeholder="Author"
                        name="authors">
                </md-contact-chips>
                <ng-messages for="MetaController.authorForm.authors.$error">
                    <ng-message when="required">This is required.</ng-message>
                    <ng-message when="maxlength">Only 1 author allowed.</ng-message>
                </ng-messages>
            </ng-form>

            <div flex>
                <md-checkbox ng-model="MetaController.entity.showAuthorPromo" aria-label="Show author promotion footer">
                    Show author promotion footer
                </md-checkbox>
            </div>
        </div>

        <div layout="row">
            <div flex>
                <label>Author Display Options</label>
                <md-radio-group ng-model="MetaController.overrideAuthor" ng-change="MetaController.authorDisplay()">
                    <md-radio-button ng-value="false">Display real author on post</md-radio-button>
                    <md-radio-button ng-value="true">Override author display</md-radio-button>
                </md-radio-group>
            </div>
            <div flex ng-if="MetaController.overrideAuthor">
                <md-input-container class="md-block" ng-if="MetaController.overrideAuthor">
                    <label>Author Override</label>
                    <input ng-model="MetaController.entity.authorOverride" name="authorOverride" type="text" ng-required="false">
                </md-input-container>

                <md-input-container class="md-block" ng-if="MetaController.overrideAuthor">
                    <label>Author Website</label>
                    <input ng-model="MetaController.entity.authorWebsite" name="authorWebsite" type="text" ng-required="false">
                </md-input-container>
            </div>
        </div>

    </md-whiteframe>

    <h2>Search Engines</h2>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
        <md-input-container class="md-block" ng-repeat="metaTag in MetaController.entity._metas">
            <label for="metaTagMetaContent">{{ metaTag.metaName }}</label>
            <input id="metaTagMetaContent" ng-model="metaTag.metaContent" name="metaContent" type="text" ng-required="false">
        </md-input-container>
    </md-whiteframe>

    <h2>Limitations</h2>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
        <label>Regional</label>
        <!-- @todo: Implementation not complete as model has not been implemented yet -->
        <div layout="row" layout-padding>
            <div flex>
                <md-radio-group ng-model="MetaController.allRegions">
                    <md-radio-button ng-value="true">All regions</md-radio-button>
                    <md-radio-button ng-value="false">Specific regions only</md-radio-button>
                </md-radio-group>
            </div>
            <div ng-if="!MetaController.allRegions" flex>
                <md-input-container class="md-block" ng-repeat="region in MetaController.supportedRegions">
                    <md-checkbox aria-label="{{ region.name }}">
                        {{ region.name }}
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>
        <!-- Implementation not complete as model has not been implemented yet -->
    </md-whiteframe>

    <h2>Permissions</h2>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
        <md-switch ng-model="MetaController.entity.publicAccess" aria-label="Public">
            Public (anonymous) users can access this item
        </md-switch>
        <md-switch ng-model="MetaController.entity.usersCanComment" aria-label="Users can comment">
            Users can comment on this item
        </md-switch>
    </md-whiteframe>
</div>