# ignore everything! @todo resolve why the ignoreall match doesn't work
#*/*
# then add what is needed for the docker container
#!vhosts/
#!api/
#!app/build/

node_modules
app/bower_components
.vagrant
vagrant
features
logs
reports
vendor