PROVIDER_FACEBOOK_CLIENT_ID=-your-facebook-client-id
PROVIDER_FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
PROVIDER_TWITTER_CLIENT_ID=your-twitter-client-id
PROVIDER_TWITTER_CLIENT_SECRET=your-twitter-client-id
PROVIDER_GOOGLE_CLIENT_ID=your-google-client-id
PROVIDER_GOOGLE_CLIENT_SECRET=your-google-client-id
