# set up facebook app at https://developers.facebook.com/apps/
PROVIDER_FACEBOOK_CLIENT_ID=-your-facebook-client-id
PROVIDER_FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

# set up twitter app at https://apps.twitter.com/
PROVIDER_TWITTER_CLIENT_ID=your-twitter-client-id
PROVIDER_TWITTER_CLIENT_SECRET=your-twitter-client-id

# set up google by following steps in https://developers.google.com/identity/toolkit/web/configure-service
PROVIDER_GOOGLE_CLIENT_ID=your-google-client-id
PROVIDER_GOOGLE_CLIENT_SECRET=your-google-client-id
