language: php
php:
  - 5.5

services:
  - mysql

before_script:
  - mysql -e 'create database larvae;'
  - npm install --quiet -g gulp bower newman
  - npm install
  - bower install
  - gulp
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev --working-dir api
  - php ./api/artisan migrate --seed --env=travis
  - php ./api/artisan serve --port 8000 --env=travis &
  - sleep 5 #give server some time to boot

script:
  - gulp test

after_script:
  - php ./vendor/bin/coveralls