<div layout-padding id="article-listing">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-input-container ng-show="ArticlesListingController.searchButton">
                <input ng-change="ArticlesListingController.search()"
                        ng-model="ArticlesListingController.queryString"
                        ng-model-options="{ debounce:500 }"
                        placeholder="Search..."
                        aria-label="Search...">
            </md-input-container>
            <md-button aria-label="Search" class="md-icon-button" ng-click="ArticlesListingController.searchButton = !ArticlesListingController.searchButton">
                <md-icon>search</md-icon>
                <md-tooltip>Search for article</md-tooltip>
            </md-button>
            <md-button aria-label="Filter" class="md-icon-button" ng-click="ArticlesListingController.filterButton = !ArticlesListingController.filterButton">
                <md-icon>filter_list</md-icon>
                <md-tooltip>Filter Articles</md-tooltip>
            </md-button>
            <span flex></span>
            <md-button aria-label="Add Article" ui-sref="app.admin.articles.article()" class="md-icon-button">
                <md-icon>add_circle</md-icon>
                <md-tooltip>Add article</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-content ng-show="ArticlesListingController.filterButton" layout-padding>
        <label>Tags</label>
        <md-chips ng-model="ArticlesListingController.tagsToFilter"
                  ng-model-options="{ debounce: 500 }"
                  md-autocomplete-snap>

            <md-autocomplete
                md-search-text="ArticlesListingController.tagSearchText"
                md-selected-item="ArticlesListingController.selectedTag"
                md-items="tag in ArticlesListingController.searchTags(ArticlesListingController.tagSearchText)"
                md-item-text="tag.tag"
                md-no-cache="true"
                md-autoselect>
                <span md-highlight-text="ArticlesListingController.tagSearchText">
                    {{ tag.tag }}
                </span>
            </md-autocomplete>

            <md-chip-template>
                {{ $chip.tag }}
            </md-chip-template>
        </md-chips>

        <label>Author</label>
        <md-chips
            ng-model="ArticlesListingController.usersToFilter"
            ng-model-options="{ debounce: 500 }"
            md-autocomplete-snap>

            <md-autocomplete md-menu-class="md-contact-chips-suggestions"
                md-search-text="ArticlesListingController.userSearchText"
                md-selected-item="ArticlesListingController.selectedUser"
                md-items="user in ArticlesListingController.searchUsers(ArticlesListingController.userSearchText)"
                md-item-text="user.firstName"
                md-no-cache="true"
                md-autoselect>
                <div class="md-contact-suggestion">
                    <img ng-src="{{ item.avatarImgUrl }}"
                        alt="{{ item.firstName }}" />
                    {{ item.fullName() }}
                    <span class="md-contact-email" >{{ item.email }}</span>
                </div>
            </md-autocomplete>

            <md-chip-template>
                <div class="md-contact-avatar">
                    <img ng-src="{{ $chip.avatarImgUrl }}"
                        alt="{{ $chip.firstName }}" />
                </div>
                <div class="md-contact-name">
                    {{ $chip.firstName }}
                </div>
            </md-chip-template>
        </md-chips>
    </md-content>

    <div ng-if="ArticlesListingController.entities.length < 1"><h3>No articles found!</h3></div>

    <md-grid-list
            md-cols-sm="1"
            md-cols-md="2"
            md-cols-gt-md="4"
            md-row-height="1:1"
            md-gutter="12px"
            md-gutter-gt-sm="8px">

        <md-grid-tile
                ng-repeat="article in ArticlesListingController.entities"
                ui-sref="app.admin.articles.article({id: article.getIdentifier()})"
                md-ink-ripple style="cursor:pointer">

            <md-grid-tile-header>
                <h3>{{article.status | uppercase}}</h3>
            </md-grid-tile-header>

            <cl-image width="100%" public-id="{{article._thumbnailImage.imageId}}" format="{{article._thumbnailImage.format}}">
                <cl-transformation height="300" width="300" crop="fill" gravity="north"/>
            </cl-image>

            <md-grid-tile-footer>
                <h3>{{article.title}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>

</div>


<md-toolbar>
    <md-tabs md-selected="ArticlesListingController.currentPageIndex">

        <md-tab ng-repeat="pageNumber in ArticlesListingController.pages" ui-sref="app.admin.articles.listing({page:pageNumber})">
            <md-tab-label>
                <span>{{pageNumber}}</span>
            </md-tab-label>
        </md-tab>

    </md-tabs>
</md-toolbar>