<md-list>
    <md-list-item ng-repeat="state in NavigationController.navigableStates" >
        <md-button ng-click="NavigationController.toggleNavigationSidenav()" ui-sref="{{state.name}}" ui-sref-active="selected">
            <md-icon>{{state.data.icon}}</md-icon>
            {{state.data.title}}
        </md-button>
    </md-list-item>

    <md-list-item>
        <pre>{{NavigationController.ngJwtAuthService.user|json}}</pre>
    </md-list-item>

    <md-list-item>
        <md-button ng-if="!NavigationController.ngJwtAuthService.loggedIn" ng-click="AppController.toggleRegistrationSidenav()">
            <md-icon>assignment_ind</md-icon> Register
        </md-button>

        <md-button ng-if="!NavigationController.ngJwtAuthService.loggedIn" ng-click="NavigationController.promptLogin()">
            <md-icon>assignment_ind</md-icon> Login
        </md-button>

        <md-button ng-if="NavigationController.ngJwtAuthService.loggedIn" ng-click="NavigationController.logout()">
            <md-icon>exit_to_app</md-icon> Logout
        </md-button>
    </md-list-item>

</md-list>
