<md-list>
    <md-list-item ng-repeat="state in navigationStates | orderBy:orderMenuItems" >
        <md-button ng-click="toggleNavigationSidenav()" ui-sref="{{state.name}}" ui-sref-active="selected">
            <md-icon>{{state.data.icon}}</md-icon>
            {{state.data.title}}
        </md-button>
    </md-list-item>

    <md-list-item>
        <pre>{{authService.user|json}}</pre>
    </md-list-item>

    <md-list-item>
        <md-button ng-if="!authService.loggedIn" ng-click="toggleRegistrationSidenav()">
            <md-icon>assignment_ind</md-icon> Register
        </md-button>

        <md-button ng-if="!authService.loggedIn" ng-click="promptLogin()">
            <md-icon>assignment_ind</md-icon> Login
        </md-button>

        <md-button ng-if="authService.loggedIn" ng-click="logout()">
            <md-icon>exit_to_app</md-icon> Logout
        </md-button>
    </md-list-item>

</md-list>
