<section ng-repeat="section in BodyController.article._sections" class="{{section.type}}" ng-switch="section.type">

    <div ng-switch-when="rich_text" marked="section.content.body"></div>

    <blockquote ng-switch-when="blockquote" cite="{{section.content.author}}">
        <div marked="section.content.body"></div>
        <small class="author">{{section.content.author}}</small>
    </blockquote>


    <div ng-switch-when="promo" class="md-whiteframe-z2">
        <h3>Promo Section</h3>
    </div>

    <div ng-switch-when="media">

        <ul rn-carousel class="media" rn-carousel-index="section.carouselIndex">
            <li ng-repeat="media in section.content.media">
                <div class="layer" ng-switch="media.type">

                    <div ng-switch-when="image">
                        <cl-image
                            width="100%"
                            public-id="{{media._image.imageId}}"
                            format="{{media._image.format}}"
                        ></cl-image>
                    </div>

                    <div ng-switch-when="video">
                        <video-embed provider="{{media.provider}}"
                                     video-id="{{media.videoId}}">
                        </video-embed>
                    </div>


                </div>
                <div ng-if="!!media.caption">
                    <span>Caption: {{media.caption}}</span>
                </div>
            </li>
        </ul>
        <div rn-carousel-indicators
             ng-if="section.content.media.length > 1"
             slides="section.content.media"
             rn-carousel-index="section.carouselIndex"
             style="position: relative;top: -35px;left: 2px;">
        </div>

    </div>

</section>