<md-toolbar class="md-whiteframe-z2 navigation">

    <md-tabs md-selected="selectedIndex">
        <md-tab ng-repeat="state in NavigationController.navigableStates" ui-sref="{{state.name}}">
            <md-tab-label>
                <md-icon>{{state.data.icon}}</md-icon>
                <span>{{state.data.title}}</span>
            </md-tab-label>
        </md-tab>

        <md-tab ng-if="!AppController.authService.loggedIn" md-on-select="AppController.toggleRegistrationSidenav()">
            <md-tab-label>
                <md-icon>assignment_ind</md-icon>
                <span>Register</span>
            </md-tab-label>
        </md-tab>

        <md-tab ng-if="!AppController.authService.loggedIn" md-on-select="NavigationController.promptLogin()">
            <md-tab-label>
                <md-icon>assignment_ind</md-icon>
                <span>Login</span>
            </md-tab-label>
        </md-tab>

        <md-tab ng-if="AppController.authService.loggedIn" md-on-select="NavigationController.logout()">
            <md-tab-label>
                <md-icon>exit_to_app</md-icon>
                <span>Logout</span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

</md-toolbar>
