<md-toolbar class="md-whiteframe-z2 navigation">

    <md-tabs md-dynamic-height md-selected="NavigationController.navigableStateIndex">
        <md-tab ng-repeat="state in NavigationController.navigableStates" ui-sref="{{state.name}}">
            <md-tab-label>
                <md-icon>{{state.data.icon}}</md-icon>
                <span>{{state.data.title}}</span>
            </md-tab-label>
        </md-tab>

        <md-tab ng-if="!AppController.ngJwtAuthService.loggedIn" md-on-select="AppController.toggleRegistrationSidenav()">
            <md-tab-label>
                <md-icon>assignment_ind</md-icon>
                <span>Register</span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

</md-toolbar>
