# set up facebook app at https://developers.facebook.com/apps/
PROVIDER_FACEBOOK_CLIENT_ID=your-facebook-client-id
PROVIDER_FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

# set up twitter app at https://apps.twitter.com/
PROVIDER_TWITTER_CLIENT_ID=your-twitter-client-id
PROVIDER_TWITTER_CLIENT_SECRET=your-twitter-client-id

# set up google by following steps in https://developers.google.com/identity/toolkit/web/configure-service
PROVIDER_GOOGLE_CLIENT_ID=your-google-client-id
PROVIDER_GOOGLE_CLIENT_SECRET=your-google-client-id

# Credentials for Vanilla Forum default admin user
VANILLA_ADMIN_NAME=admin
VANILLA_ADMIN_PASSWORD=password
VANILLA_ADMIN_EMAIL=admin@admin.com
VANILLA_API_SECRET=a-long-string-with-secret-api-key

CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
