<md-list>
    <md-list-item ng-repeat="state in AdminNavigationController.navigableStates" >
        <md-button ng-click="AdminNavigationController.toggleNavigationSidenav()" ui-sref="{{state.name}}" ui-sref-active="selected">
            <md-icon>{{state.data.icon}}</md-icon>
            {{state.data.title}}
        </md-button>
    </md-list-item>

    <md-list-item>
        <pre>{{AdminNavigationController.ngJwtAuthService.user|json}}</pre>
    </md-list-item>

    <md-list-item>

        <md-button ng-if="!AdminNavigationController.ngJwtAuthService.loggedIn" ng-click="AdminNavigationController.promptLogin()">
            <md-icon>assignment_ind</md-icon> Login
        </md-button>

        <md-button ng-if="AdminNavigationController.ngJwtAuthService.loggedIn" ng-click="AdminNavigationController.logout()">
            <md-icon>exit_to_app</md-icon> Logout
        </md-button>
    </md-list-item>

</md-list>
