<div id="admin-sidenav" ng-class="{collapsed:AdminNavigationController.collapsed}">
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <h2 ng-if="!AdminNavigationController.collapsed">CMS</h2>
            <span flex ng-if="!AdminNavigationController.collapsed"></span>
            <md-button aria-label="collapse-menu" class="md-icon-button" ng-click="AdminNavigationController.collapsed = !AdminNavigationController.collapsed">
                <md-icon ng-if="!AdminNavigationController.collapsed">chevron_left</md-icon>
                <md-icon ng-if="AdminNavigationController.collapsed">chevron_right</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-list-item aria-label="Go to your profile" ng-click="AppController.goToUserProfile($event)">
            <avatar ng-model="AdminNavigationController.ngJwtAuthService.user"></avatar>
            <p ng-if="!AdminNavigationController.collapsed">{{ AdminNavigationController.ngJwtAuthService.user.fullName() }}</p>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">Profile</md-tooltip>
        </md-list-item>
    </md-list>

    <md-divider></md-divider>

    <md-list ng-repeat="stateGroup in AdminNavigationController.groupedNavigableStates">

        <md-list-item ng-if="!!stateGroup.name && !AdminNavigationController.collapsed">
            <p><small>{{ stateGroup.name | uppercase}}</small></p>
        </md-list-item>

        <md-list-item ng-repeat-start="state in stateGroup.states" ng-if="!state.abstract" ng-click="AdminNavigationController.$state.go(state.name)" ui-sref="{{state.name}}" ui-sref-active="selected">
            <md-icon>{{state.data.icon}}</md-icon>
            <p ng-if="!AdminNavigationController.collapsed">{{state.data.title | uppercase}}</p>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">{{state.data.title | uppercase}}</md-tooltip>
        </md-list-item>

        <menu-toggle
                ng-if="state.abstract && state.children.length > 0"
                navigation-state="state"
                collapsed="AdminNavigationController.collapsed"
                >
        </menu-toggle>

        <md-divider ng-repeat-end></md-divider>

    </md-list>

    <md-list>

        <md-list-item ng-click="AppController.logout()">
            <md-icon>exit_to_app</md-icon>
            <p ng-if="!AdminNavigationController.collapsed">Logout</p>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">Logout</md-tooltip>
        </md-list-item>
    </md-list>
</div>
