<div ng-class="{collapsed:AdminNavigationController.collapsed}" class="nav-wrapper">

    <md-list>
        <md-list-item aria-label="Go to your profile" class="navigation-user md-2-line" ng-click="AppController.goToUserProfile($event)">
            <avatar class="md-avatar" user="AdminNavigationController.ngJwtAuthService.user" width="40" height="40"></avatar>
            <div class="md-list-item-text" ng-if="!AdminNavigationController.collapsed">
                <h3>{{ AdminNavigationController.ngJwtAuthService.user.fullName() }}</h3>
                <p>{{ AdminNavigationController.ngJwtAuthService.user.rolesDisplay() }}</p>
            </div>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">Profile</md-tooltip>
        </md-list-item>

    </md-list>

    <md-divider></md-divider>

    <md-list ng-repeat="stateGroup in AdminNavigationController.groupedNavigableStates">

        <md-list-item class="group-title" ng-if="!!stateGroup.name && !AdminNavigationController.collapsed">
            <p>
                <md-icon>{{stateGroup.icon}}</md-icon>
                <small> {{ stateGroup.name | uppercase}}</small>
            </p>
        </md-list-item>

        <md-list-item ng-repeat-start="state in stateGroup.states" ng-if="!state.abstract" ng-click="AdminNavigationController.$state.go(state.name)" ui-sref="{{state.name}}" ui-sref-active="selected">
            <md-icon>{{state.data.icon}}</md-icon>
            <p class="md-subhead" ng-if="!AdminNavigationController.collapsed">{{state.data.title}}</p>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">{{state.data.title}}</md-tooltip>
        </md-list-item>

        <menu-toggle
                ng-if="state.abstract && state.children.length > 0"
                navigation-state="state"
                collapsed="AdminNavigationController.collapsed"
                >
        </menu-toggle>

        <md-divider ng-repeat-end></md-divider>

    </md-list>

    <md-list>

        <md-list-item ng-click="AppController.logout()">
            <md-icon>exit_to_app</md-icon>
            <p ng-if="!AdminNavigationController.collapsed">Logout</p>
            <md-tooltip md-direction="right" ng-if="AdminNavigationController.collapsed">Logout</md-tooltip>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item
            ng-if="!AdminNavigationController.collapsed"
            md-swipe-left="AdminNavigationController.collapsed = true"
            ng-click="AdminNavigationController.collapsed = true"
        >
            <p>
                <md-icon>chevron_left</md-icon>
            </p>
        </md-list-item>

        <md-list-item
            ng-if="!!AdminNavigationController.collapsed"
            md-swipe-right="AdminNavigationController.collapsed = false"
            ng-click="AdminNavigationController.collapsed = false"
        >
            <p>
                <md-icon>chevron_right</md-icon>
            </p>
        </md-list-item>


    </md-list>




</div>
