<md-card flex novalidate ng-form="RolesController.rolesForm" class="md-whiteframe-z2" layout-padding>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Roles &amp; Permissions</h2>
        </div>
    </md-toolbar>

    <h3>Available Roles</h3>

    <md-list>
        <md-divider ng-repeat-start="role in RolesController.roles" ng-if="$first"></md-divider>
        <md-list-item class="md-2-line" ng-class="{'user-has-role':RolesController.userHasRole(role)}" ng-click="RolesController.toggleRole(role)">
            <md-icon class="md-avatar-icon">{{RolesController.userHasRole(role) ? 'lock_open':'lock_outline'}}</md-icon>
            <div class="md-list-item-text">
                <h3>{{ role.key | fromCamel }}</h3>
                <p>{{ role.description }}</p>
            </div>
        </md-list-item>
        <md-divider ng-repeat-end ng-if="!$last"></md-divider>
    </md-list>

    <h3>Display Role</h3>
    <md-select ng-model="RolesController.userDisplayRole">
        <md-option ng-repeat="role in RolesController.user._roles" value="{{role.key}}">
            {{role.key | fromCamel}}
        </md-option>
    </md-select>

    <h3>Permissions granted to {{RolesController.user.fullName}} ({{RolesController.usersPermissions.length}})</h3>

    <md-list>

        <md-divider ng-repeat-start="permission in RolesController.usersPermissions" ng-if="$first"></md-divider>

        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>{{ permission.description}}</h3>
                <p>Granted by ({{ permission.getGrantedByRoleNames() }})</p>
            </div>
            <ul>
                <li ng-repeat="matchingRoute in permission.matchingRoutes">{{matchingRoute.method}} {{matchingRoute.uri}}</li>
            </ul>
        </md-list-item>

        <md-divider ng-repeat-end ng-if="!$last"></md-divider>

    </md-list>

</md-card>