<md-card flex novalidate ng-form="RolesController.rolesForm" class="md-whiteframe-z2" layout-padding>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Roles &amp; Permissions</h2>
        </div>
    </md-toolbar>

    <h3>Available Roles</h3>

    <md-list>
        <md-list-item class="md-2-line" ng-repeat="role in RolesController.roles">
            <div class="md-list-item-text">
                <h3>{{ role.key | fromCamel }}</h3>
                <p>{{ role.description }}</p>
            </div>
        </md-list-item>
    </md-list>

    <h3>Display Role</h3>
    <md-select ng-model="RolesController.userDisplayRole">
        <md-option ng-repeat="role in RolesController.user._roles" value="{{role}}">
            {{role.key | fromCamel}}
        </md-option>
    </md-select>

    <h3>Permissions granted to {{RolesController.user.fullname}}</h3>

    <md-list>
        <md-list-item class="md-2-line" ng-repeat="permission in RolesController.usersPermissions">
            <div class="md-list-item-text">
                <h3>{{ permission.description}}</h3>
                <p>Granted by ({{ permission.getGrantedByRoleNames() }})</p>
            </div>
            <ul>
                <li ng-repeat="matchingRoute in permission.matchingRoutes">{{matchingRoute.method}} {{matchingRoute.uri}}</li>
            </ul>
        </md-list-item>
    </md-list>

</md-card>