
.admin-theme {

    @import (reference) "reference/admin-variables";
    @import "reference/angular-material-theme";

    md-tabs md-ink-bar {
        color: @accent-500;
        background: @accent-500;
    }


    md-toolbar md-tabs md-ink-bar {
        color: @accent-contrast;
        background: @accent-contrast;
    }

}