<div class="select-media-image" ng-class="{'no-image':!currentImage}">

    <div class="image-wrapper" layout="column" layout-align="center center">

        <cl-image
                ng-if="!!currentImage"
                public-id="{{currentImage.imageId}}"
                format="{{currentImage.format}}">
            <cl-transformation height="300" width="600" crop="fill" gravity="north"/>
        </cl-image>

        <span layout="row" class="button-group">
            <md-button class="md-icon-button md-primary md-whiteframe-z1" ng-click="SelectMediaImageController.promptSelectImageDialog('upload')">
                <md-icon>photo_camera</md-icon>
            </md-button>

            <md-button class="md-icon-button md-primary md-whiteframe-z1" ng-click="SelectMediaImageController.promptSelectImageDialog('select')">
                <md-icon>cloud_download</md-icon>
            </md-button>
        </span>

    </div>

</div>