<div class="select-media-image">

    <div class="image-wrapper" layout="column" layout-align="center center">

        <span layout="row" class="button-group">
            <md-button flex class="md-icon-button md-primary md-whiteframe-z1" ng-click="SelectMediaImageController.promptUploadImage()">
                <md-icon>photo_camera</md-icon>
            </md-button>

            <md-button flex class="md-icon-button md-primary md-whiteframe-z1" ng-click="SelectMediaImageController.promptSelectImage()">
                <md-icon>cloud_download</md-icon>
            </md-button>
        </span>

    </div>

</div>