
<nav>
    <top-bar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">nglume</a></h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
        </ul>

        <top-bar-section>

            <ul class="left">
                <li ng-repeat-start="navitem in navigation" ui-sref-active="active" ng-if="!navitem.children">
                    <a ui-sref="{{navitem.state}}">
                        <i ng-if="!!navitem.icon" class="fa fa-{{navitem.icon}}">&nbsp;</i>{{navitem.title}}
                    </a>
                </li>
                <li ng-repeat-end has-dropdown ng-if="!!navitem.children">
                    <a ui-sref="{{navitem.state}}">
                        <i ng-if="!!navitem.icon" class="fa fa-{{navitem.icon}}">&nbsp;</i>{{navitem.title}}
                    </a>
                    <ul top-bar-dropdown>
                        <li ng-repeat="childNavItem in navitem.children" ui-sref-active="active">
                            <a ui-sref="{{childNavItem.state}}"><i ng-if="!!childNavItem.icon" class="fa fa-{{childNavItem.icon}}">&nbsp;</i>{{childNavItem.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </top-bar-section>
    </top-bar>
</nav>