<md-dialog flex="50" id="resetPasswordDialog">
    <md-dialog-content>

        <form novalidate name="resetPasswordForm">

            <md-input-container class="md-icon-float md-block">
                <label for="resetPasswordFormEmail">Email</label>
                <md-icon>face</md-icon>

                <input id="resetPasswordFormEmail"
                       ng-model="ResetPasswordController.email"
                       name="email"
                       type="email"
                       ng-required="true">

                <ng-messages for="resetPasswordForm.email.$error">
                    <ng-message when="required">This is required.</ng-message>
                    <ng-message when="email">This is not a valid email.</ng-message>
                </ng-messages>
            </md-input-container>

        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button
                ng-disabled="resetPasswordForm.$invalid"
                ng-click="ResetPasswordController.resetPassword(ResetPasswordController.email)"
                class="md-primary"
                >Reset Password
        </md-button>

        <md-button
                ng-click="ResetPasswordController.cancelResetPasswordDialog()"
                class="md-warn"
                >Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>