<div class="menu-toggle" ng-class="{collapsed:collapsed}">
    <md-list-item
            ng-click="toggle()"
            aria-controls="docs-menu-{{navigationState.name}}"
            aria-expanded="{{isOpen()}}"
            ui-sref-active="child-selected"
            ui-sref="{{navigationState.name}}"
            >

        <md-icon>{{navigationState.data.icon}}</md-icon>
        <p ng-if="!collapsed" class="md-subhead">{{navigationState.data.title}}</p>
        <md-tooltip md-direction="right" ng-if="collapsed">{{navigationState.data.title | uppercase}}</md-tooltip>

        <span aria-hidden="true" class="md-toggle-icon"
              ng-class="{'toggled' : isOpen()}">
            <md-icon md-svg-src="md-toggle-arrow"></md-icon>
        </span>
        <span class="md-visually-hidden">
            Toggle {{isOpen()? 'expanded' : 'collapsed'}}
        </span>
    </md-list-item>

    <md-list>

        <md-divider ng-repeat-start="state in navigationState.children track by $index" ng-if="$first && isOpen()"></md-divider>

        <md-list-item ng-click="gotoState(state.name)" ui-sref-active="selected" ui-sref="{{state.name}}">

            <md-icon>{{state.data.icon}}</md-icon>
            <p ng-if="!collapsed" class="md-body-2">{{state.data.title}}</p>
            <md-tooltip md-direction="right" ng-if="collapsed">{{state.data.title}}</md-tooltip>
        </md-list-item>

        <md-divider ng-repeat-end ng-if="!$last"></md-divider>

    </md-list>

</div>

