<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl" ng-strict-di>
    <head>
        <title>Larvae - AngularJS Seed App</title>
        <base href="/" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/assets/favicon.ico" />

        <!-- compiled CSS -->
        <% styles.vendor.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>" />
        <% }); %>
        <% styles.app.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>" />
        <% }); %>

        <!-- compiled JS -->
        <% scripts.vendor.forEach( function ( file ) { %>
        <script type="text/javascript" src="/<%= file %>"></script>
        <% }); %>
        <% scripts.app.forEach( function ( file ) { %>
        <script type="text/javascript" src="/<%= file %>"></script>
        <% }); %>

    </head>
    <body>
        <div class="page-container" ui-view="app"></div>
    </body>
</html>