<div class="row">

    <h1>Features</h1>

</div>

<div class="row">

    <div class="small-3 column">

        <ul class="side-nav">
            <li ng-repeat="state in childStates" ui-sref-active="active">
                <a ui-sref="{{state.name}}">
                    <i ng-if="!!state.data.icon" class="fa fa-{{state.data.icon}}">&nbsp;</i>{{state.data.title}}
                </a>
            </li>
        </ul>

    </div>

    <div class="small-9 column">

        <div ui-view="featuresContent"></div>

    </div>


</div>

