<div class="upload-image">
    <form name="UploadImageController.imageUploadForm" novalidate>
        <div layout layout-sm="column">

            <md-input-container>
                <label>Alt</label>
                <input name="alt" ng-model="UploadImageController.queuedImage.alt" required/>
                <ng-messages ng-hide="UploadImageController.imageUploadForm.alt.$pristine" for="UploadImageController.imageUploadForm.alt.$error">
                    <ng-message when="required">Alt is required.</ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container>
                <label>Title</label>
                <input name="title" ng-model="UploadImageController.queuedImage.title" />
            </md-input-container>

            <md-input-container>

                <input type="file"
                       aria-label="Select Image"
                       ng-model="UploadImageController.queuedImage.file"
                       name="file"
                       ngf-select
                       accept="image/*"
                       ngf-max-height="{{UploadImageController.imageConstraints.maxHeight}}"
                       ngf-min-height="{{UploadImageController.imageConstraints.minHeight}}"
                       ngf-max-width="{{UploadImageController.imageConstraints.maxWidth}}"
                       ngf-min-width="{{UploadImageController.imageConstraints.minWidth}}"
                       ngf-max-size="{{UploadImageController.imageConstraints.maxSize}}"
                       ngf-min-size="{{UploadImageController.imageConstraints.minSize}}"
                       required
                        >

                <img width="200" ng-show="UploadImageController.imageUploadForm.file.$valid" ngf-src="UploadImageController.queuedImage.file">

                <ng-messages ng-hide="UploadImageController.imageUploadForm.file.$pristine" for="UploadImageController.imageUploadForm.file.$error">
                    <ng-message when="required">Image is required.</ng-message>
                    <ng-message when="maxHeight">Image must be less than {{UploadImageController.imageConstraints.maxHeight}} pixels high. ({{UploadImageController.imageUploadForm.file.$modelValue.height}}px) given.</ng-message>
                    <ng-message when="minHeight">Image must be more than {{UploadImageController.imageConstraints.minHeight}} pixels high. ({{UploadImageController.imageUploadForm.file.$modelValue.height}}px) given.</ng-message>
                    <ng-message when="maxWidth">Image must be less than {{UploadImageController.imageConstraints.maxWidth}} pixels wide. ({{UploadImageController.imageUploadForm.file.$modelValue.width}}px) given.</ng-message>
                    <ng-message when="minWidth">Image must be more than {{UploadImageController.imageConstraints.minWidth}} pixels wide. ({{UploadImageController.imageUploadForm.file.$modelValue.width}}px) given.</ng-message>
                    <ng-message when="maxSize">Image must be less than {{UploadImageController.imageConstraints.maxSize}}.</ng-message>
                    <ng-message when="minSize">Image must be more than {{UploadImageController.imageConstraints.minSize}}.</ng-message>
                </ng-messages>

            </md-input-container>

            <md-button ng-if="UploadImageController.imageUploadForm.$valid" ng-click="UploadImageController.uploadImage(UploadImageController.queuedImage)" class="md-raised md-primary">Upload</md-button>

        </div>


    </form>


    <div ng-if="UploadImageController.progressBar.visible">
        <h2>{{UploadImageController.progressBar.statusText}}</h2>
        <md-progress-linear md-mode="{{UploadImageController.progressBar.mode}}"
                            value="{{UploadImageController.progressBar.value}}"></md-progress-linear>
    </div>
</div>

