@import (reference) "../../../styles/global.less";

.content-sections-input-set {

    .content-sections-input-item {

        md-bottom-sheet.dummy{
            display:none;
        }

        .settings-toolbar {
            &.toolbar-hidden{
                background-color: transparent;
            }
        }

        .section-input {
            position: relative;
            overflow: hidden;
        }
    }

}
