<section layout="row" id="post-section" layout-align="space-around start">

    <md-card ng-form="ArticleController.entityForm" flex novalidate id="article-form" class="md-whiteframe-z2">
        <div id="scheduling">
            <h1>{{ArticleController.entity.status | uppercase}}</h1>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span class="md-body-1 date" flex="30">
                        <md-icon>event</md-icon>{{ArticleController.entity.createdAt.format('dddd, MMMM Do YYYY')}}
                    </span>
                    <span class="md-body-1 time" flex="30">
                        <md-icon>access_time</md-icon>{{ArticleController.entity.createdAt.format('h:mm a')}} ({{ArticleController.entity.createdAt.fromNow()}})
                    </span>
                    <span flex>
                    </span>
                    <md-button class="md-icon-button" aria-label="Schedule">
                        <md-icon>access_time</md-icon>
                        <md-tooltip md-direction="top">
                            Schedule
                        </md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Preview" ng-click="ArticleController.togglePreview()">
                        <md-icon>remove_red_eye</md-icon>
                        <md-tooltip md-direction="top">
                            Toggle Preview
                        </md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
        </div>

        <md-tabs flex md-dynamic-height md-border-bottom>
            <md-tab label="Content">
                <md-content class="md-padding" ui-view="content"></md-content>
            </md-tab>
            <md-tab label="Meta">
                <md-content class="md-padding" ui-view="meta"></md-content>
            </md-tab>
            <md-tab label="Stats">
                <md-content class="md-padding" ui-view="stats"></md-content>
            </md-tab>
            <md-tab label="History">
                <md-content class="md-padding" ui-view="history"></md-content>
            </md-tab>
        </md-tabs>

        <div id="commands">
            <div class="command-wrap">
                <div class="command-fix">

                    <md-button class="md-warn md-raised md-fab" ng-disabled="!ArticleController.entity.exists()" ng-click="ArticleController.remove()">
                        <md-icon>delete</md-icon>
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                    </md-button>

                    <md-button class="md-accent md-raised md-fab" ng-disabled="ArticleController.entityForm.$invalid" ng-click="ArticleController.save()">
                        <md-icon>check</md-icon>
                        <md-tooltip md-direction="top">Save</md-tooltip>
                    </md-button>

                    <md-button class="md-primary md-raised md-fab" ng-click="ArticleController.cancel()">
                        <md-icon>close</md-icon>
                        <md-tooltip md-direction="top">Cancel</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>

    </md-card>

    <md-card flex ng-if="ArticleController.showPreview" class="md-whiteframe-z3">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Preview</h2>
                <span flex></span>
                <md-button aria-label="Close Preview"
                           class="md-icon-button md-mini"
                           ng-click="ArticleController.togglePreview($event)">
                    <md-icon>close</md-icon>
                    <md-tooltip md-direction="top">
                        Close Preview
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content ui-view="preview" ></md-card-content>
    </md-card>

</section>
