
<form novalidate name="articleForm" >

    <div style="background-color: lightgrey">
        <h1>{{ArticleController.entity.status | uppercase}}</h1>
        <div layout="row">
            <div flex>
                {{ArticleController.entity.createdAt.format('dddd, MMMM Do YYYY')}}
            </div>
            <div flex>
                {{ArticleController.entity.createdAt.format('h:mm:ss a')}}
            </div>
            <div flex>
                {{ArticleController.entity.createdAt.fromNow()}}
            </div>
            <div flex>
                <md-button class="md-fab md-mini" aria-label="Schedule">
                    <md-icon>access_time</md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <div layout="row">

        <md-tabs flex md-dynamic-height md-border-bottom>
            <md-tab label="Content">
                <h2 ng-if="ArticleController.$stateParams.newEntity">Create</h2>
                <h2 ng-if="!ArticleController.$stateParams.newEntity">Edit</h2>
                <md-content class="md-padding" ui-view="content"></md-content>
            </md-tab>
            <md-tab label="Media">
                <md-content class="md-padding" ui-view="media"></md-content>
            </md-tab>
            <md-tab label="Meta">
                <md-content class="md-padding" ui-view="meta"></md-content>
            </md-tab>
            <md-tab label="Stats">
                <md-content class="md-padding" ui-view="stats"></md-content>
            </md-tab>
            <md-tab label="History">
                <md-content class="md-padding" ui-view="history"></md-content>
            </md-tab>
        </md-tabs>

        <md-content flex ui-view="preview" ng-if="ArticleController.showPreview" ng-class="md-whiteframe-z2">

        </md-content>

    </div>


    <md-button class="md-primary md-raised" ng-disabled="articleForm.$invalid" ng-click="ArticleController.save()">Save</md-button>
    <md-button class="md-raised" ng-click="ArticleController.togglePreview()">
        <md-icon>remove_red_eye</md-icon>
    </md-button>

</form>