<section layout="row" id="post-section" layout-align="space-around start">

    <md-card ng-form flex novalidate name="articleForm" style="max-width: 1000px" class="md-whiteframe-z2">
        <div id="scheduling">
            <h1>{{ArticleController.entity.status | uppercase}}</h1>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex>{{ArticleController.entity.createdAt.format('dddd, MMMM Do YYYY')}}</span>
                    <span flex>{{ArticleController.entity.createdAt.format('h:mm a')}} ({{ArticleController.entity.createdAt.fromNow()}})</span>
                    <span flex></span>

                    <md-button class="md-icon-button" aria-label="Schedule">
                        <md-icon>access_time</md-icon>
                        <md-tooltip md-direction="top">
                            Schedule
                        </md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Preview" ng-click="ArticleController.togglePreview()">
                        <md-icon>remove_red_eye</md-icon>
                        <md-tooltip md-direction="top">
                            Toggle Preview
                        </md-tooltip>
                    </md-button>

                </div>
            </md-toolbar>
        </div>

        <md-tabs flex md-dynamic-height md-border-bottom>
            <md-tab label="Content">
                <md-content class="md-padding" ui-view="content"></md-content>
            </md-tab>
            <md-tab label="Meta">
                <md-content class="md-padding" ui-view="meta"></md-content>
            </md-tab>
            <md-tab label="Stats">
                <md-content class="md-padding" ui-view="stats"></md-content>
            </md-tab>
            <md-tab label="History">
                <md-content class="md-padding" ui-view="history"></md-content>
            </md-tab>
        </md-tabs>

        <md-button class="md-primary md-raised" ng-disabled="articleForm.$invalid" ng-click="ArticleController.save()">Save</md-button>

    </md-card>

    <md-card flex ng-if="ArticleController.showPreview" class="md-whiteframe-z3">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Preview</h2>
                <span flex></span>
                <md-button aria-label="Close Preview"
                           class="md-icon-button md-mini"
                           ng-click="ArticleController.togglePreview($event)">
                    <md-icon>close</md-icon>
                    <md-tooltip md-direction="top">
                        Close Preview
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content ui-view="preview" ></md-card-content>
    </md-card>

</section>
