@import (reference) "../../../../styles/admin-variables.less";

#post-section {

    #scheduling {

        background-color: @background-600;
        color: white;

        md-toolbar {
            background-color: inherit;
        }

    }

}