<section id="admin-container" class="admin-theme" layout="column" layout-fill>

    <div layout="row">

        <md-sidenav
                id="admin-sidenav"
                class="navigation site-sidenav md-sidenav-left"
                md-component-id="navigation"
                md-is-locked-open="$mdMedia('gt-sm')"
                ui-view="navigation">
        </md-sidenav>

        <div flex layout="column"
             tabIndex="-1"
             class="md-whiteframe-z2"
             layout-fill
        >

            <md-toolbar layout="row" id="admin-nav-header" class="md-whiteframe-z1" layout-padding>
                <md-button id="mobile-menu-toggle" class="menu" hide-gt-sm
                           ng-click="AppController.toggleNavigationSidenav()" aria-label="Show Menu">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 ng-bind="AppController.$state.current.data.title"></h2>
            </md-toolbar>

            <div layout="column"
                 role="main"
                 id="content"
                 ui-view="main"
            >

            </div>

        </div>

    </div>
    
    <div flex></div>

    <footer>
        <md-toolbar layout="row" layout-align="center-center">
            <h4>Footer</h4>
        </md-toolbar>
    </footer>

</section>