<header>

    <md-toolbar layout="row" class="md-whiteframe-z1" md-scroll-shrink="true">
        <h1>Spira</h1>

        <span flex></span>

        <md-fab-speed-dial md-open="false" md-direction="left" id="profileMenu" ng-if="AppController.ngJwtAuthService.loggedIn">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab" layout="row" layout-align="center">
                    <img ng-src="{{AppController.ngJwtAuthService.user.avatarImgUrl}}" alt="{{AppController.ngJwtAuthService.user.fullName()}}" />
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="logout" class="md-fab md-raised md-mini" ng-click="AppController.logout()">
                    <md-icon>exit_to_app</md-icon>
                </md-button>
                <md-button ui-sref="app.user.profile" class="md-fab md-raised md-mini">
                    <md-icon>face</md-icon>
                </md-button>
                <md-button ng-if="AppController.ngJwtAuthService.user.isAdmin()" ui-sref="app.admin.dashboard" class="md-fab md-raised md-mini md-fab-action-item">
                    <md-icon>dashboard</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <md-button class="md-fab md-raised md-mini" ng-if="!AppController.ngJwtAuthService.loggedIn" ng-click="AppController.promptLogin()">
            <md-icon>person</md-icon>
        </md-button>

    </md-toolbar>

    <nav layout="column" ui-view="navigation"></nav>

</header>


<main layout="column"
     role="main"
     layout-margin layout-padding
     id="content"
     ui-view="main"
        >

</main>

<span flex></span>

<footer>
    <md-toolbar layout="row" layout-align="center-center">
        <h4>Footer</h4>
    </md-toolbar>
</footer>


<md-sidenav
        id="userRegistration"
        class="md-sidenav-right md-whiteframe-z2"
        ng-if="!AppController.ngJwtAuthService.loggedIn"
        md-component-id="registration"
        ui-view="registration">
</md-sidenav>