<div layout="column" >
    <md-toolbar class="md-whiteframe-z1" md-scroll-shrink="true" layout-align="center center">
        <h1>Spira</h1>
        <md-button id="mobile-menu-toggle" class="menu" hide-gt-sm ng-click="AppController.toggleNavigationSidenav()" aria-label="Show Menu">
            <md-icon>menu</md-icon>
        </md-button>
    </md-toolbar>
</div>

<div layout="column" ui-view="navigation">

</div>

<div layout="column"
     role="main"
     layout-margin layout-fill layout-padding
     id="content"
     ui-view="main"
        >

</div>

<md-sidenav
        id="userRegistration"
        class="md-sidenav-right md-whiteframe-z2"
        ng-if="!AppController.authService.loggedIn"
        md-component-id="registration"
        ui-view="registration">
</md-sidenav>