<md-content layout-padding>

    <md-input-container>
        <!-- No options for input to have clear button yet, could hack at it or wait for md-autocomplete to get type="search" -->
        <label for="searchInput">Search</label>
        <input id="searchInput"
               ng-model="searchTerm"
               ng-change="UsersController.search(searchTerm)"
               ng-model-options='{ debounce: 1000 }'>
    </md-input-container>

    <h2>Users</h2>

    <md-content layout-padding>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="user in UsersController.users">
                <img ng-src="{{ user.avatarImgUrl }}" alt="{{ user.fullName() }}" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3> {{ user.username }} </h3>
                    <p> {{ user.email }} </p>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

</md-content>


<md-toolbar>
    <md-tabs md-selected="UsersController.currentPageIndex">

        <md-tab ng-repeat="pageNumber in UsersController.pages" ui-sref="app.admin.users({page:pageNumber})">
            <md-tab-label>
                <span>{{pageNumber}}</span>
            </md-tab-label>
        </md-tab>

    </md-tabs>
</md-toolbar>